{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">Все впереди...</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <h4>Уровень владения:</h4>
      <br>
      <p>
        Мастерски владею данными технологиями на уровне близком к уровню интуиции, не приходя в сознание. В последние дни бывают проблески, и я начинаю что-то понимать, но потом понимаю, что это только показалось.
      </p>
      <p>
        Не забудьте посетить страницу, где узнаете обо мне много интересных фактов...
      </p>
      <a href="http://127.0.0.1:8000/about/author/">Обо мне<a>
      </article>
    </div>
  {% endblock %}
